langchain==0.2.15 ; python_version >= "3.11" and python_version < "4.0"
openai==1.42.0 ; python_version >= "3.11" and python_version < "4.0"
tiktoken==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
langchain-openai==0.1.23 ; python_version >= "3.11" and python_version < "4.0"
langchain-qdrant==0.1.3 ; python_version >= "3.11" and python_version < "4.0"
langchain-core==0.2.36 ; python_version >= "3.11" and python_version < "4.0"
pdfminer-six==20231228 ; python_version >= "3.11" and python_version < "4.0"
streamlit-camera-input-live==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
streamlit-card==1.0.2 ; python_version >= "3.11" and python_version < "4.0"
streamlit-embedcode==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
streamlit-extras==0.4.7 ; python_version >= "3.11" and python_version < "4.0"
streamlit-faker==0.0.3 ; python_version >= "3.11" and python_version < "4.0"
streamlit-image-coordinates==0.1.9 ; python_version >= "3.11" and python_version < "4.0"
streamlit-keyup==0.2.4 ; python_version >= "3.11" and python_version < "4.0"
streamlit-toggle-switch==1.0.2 ; python_version >= "3.11" and python_version < "4.0"
streamlit-vertical-slider==2.5.5 ; python_version >= "3.11" and python_version < "4.0"
streamlit==1.38.0 ; python_version >= "3.11" and python_version < "4.0"
langchain-qdrant==0.1.3 ; python_version >= "3.11" and python_version < "4.0"
qdrant-client==1.10.1 ; python_version >= "3.11" and python_version < "4.0"
falcon-marshmallow==0.3.0 ; python_version >= "3.11" and python_version < "4.0"
falcon==3.1.3 ; python_version >= "3.11" and python_version < "4.0"
google-generativeai>=0.7.2; python_version >= "3.11" and python_version < "4.0"
peewee==3.15.4 ; python_version >= "3.11" and python_version < "4.0"
psycopg2==2.9.5; python_version >= "3.11" and python_version < "4.0"